@import url("//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css");
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 18, /home/ubuntu/workspace/app/assets/stylesheets/application.css.scss */
.img-rounded {
  border: 2px solid #ecf0f1;
}

/* line 22, /home/ubuntu/workspace/app/assets/stylesheets/application.css.scss */
body {
  padding-top: 70px;
}

/* line 26, /home/ubuntu/workspace/app/assets/stylesheets/application.css.scss */
.multi-line-button {
  white-space: normal;
}

/* line 30, /home/ubuntu/workspace/app/assets/stylesheets/application.css.scss */
.friendlisthumb {
  height: 75px;
  width: 75px;
}

/* line 35, /home/ubuntu/workspace/app/assets/stylesheets/application.css.scss */
.listthumb {
  height: 136px;
  width: 200px;
  margin: 4px;
}

/* line 41, /home/ubuntu/workspace/app/assets/stylesheets/application.css.scss */
.table tbody > tr > td.vert-align {
  vertical-align: middle;
}

/* line 45, /home/ubuntu/workspace/app/assets/stylesheets/application.css.scss */
.cutoff {
  word-wrap: break-word;
  overflow-y: hidden;
  overflow-x: visible;
}
