  <div class="jumbotron">
  <h1>Oops.</h1>
  <p>Something went wrong. Sorry about that.</p>
  <p><a class="btn btn-primary btn-lg" href="<%= root_path %>" role="button">Click here to start over</a></p>
  </div>